In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime

In [2]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)

resampler = ts.resample('D')  # resample()方法可以将时间序列进行频率转换，也叫做重新采样

### 生成日期范围

pandas.date_range可用于根据指定的频率生成指定长度的DatetimeIndex

In [3]:
pd.date_range('2012-04-01', '2012-04-20')  # date_range默认生成的是每日时间戳

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [4]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [5]:
pd.date_range(end='2012-04-20', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')  # 指定频率，BM是每月月底，business end of month

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [7]:
pd.date_range('2012-05-02 12:56:31', periods=5)  # 默认情况下，date_range保留开始或结束时间戳的时间（如果有的话）

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [8]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)  # 将时间戳标准化为0点的时间

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

一些基本的时间序列频率
别名                     偏移量类型              说明
D                        Day                     每日历日
B                        BusinessDay             每工作日
H                        Hour                    每小时
T|min                    Minute                  每分
S                        Second                  每秒
L|ms                     Milli                   每毫秒（即每千分之一秒）
U                        Micro                   每微秒（即每百万分之一秒）
M                        MonthEnd                每月最后一个日历日
BM                       BusinessMonthEnd        每月最后一个工作日
MS                       MonthBegin              每月第一个日历日
BMS                      BusinessMonthBegin      每月第一个工作日
W-MON, W-TUE...          Week                    从指定的星期几(MON,TUE,WED,THU,FRI,SAT,SUN)开始算起，每周
WOM-1MON, WOM-2MON...    WeekOfMonth             产生每月第一、第二、第三或第四周的星期几。例如WOM-3FRI表示每月第3个星期五
Q-JAN, Q-FEB...          QuarterEnd              对于以指定月份(JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC)结束的年度，每季度最后一月的最后一个日历日
BQ-JAN, BQ-FEB...        BusinessQuarterEnd      对于以指定月份结束的年度，每季度最后一月的最后一个工作日
QS-JAN, QS-FEB...        QuarterBegin            对于以指定月份结束的年度，每季度最后一月的第一个日历日
BOS-JAN, BOS-FEB...      BusinessQuarterBegin    对于以指定月份结束的年度，每季度最后一月的第一个工作日
A-JAN, A-FEB...          YearEnd                 每年指定月份(JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC)的最后一个日历日
BA-JAN, BA-FEB...        BusinessYearEnd         每年指定月份的最后一个工作日
AS-JAN, AS-FEB...        YearBegin               每年指定月份的第一个日历日
BAS-JAN, BAS-FEB...      BusinessYearBegin       每年指定月份的第一个工作日

### 频率和日期偏移量

In [9]:
from pandas.tseries.offsets import Hour, Minute

hour = Hour()
hour

In [10]:
four_hours = Hour(4)
four_hours

In [11]:
Hour(2) + Minute(30)

In [12]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [13]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [14]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')  # 每月第三个星期五
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### 移位（前向或后向）日期

In [15]:
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.332183
2000-02-29   -1.012833
2000-03-31    2.317390
2000-04-30    0.850547
Freq: M, dtype: float64

In [16]:
ts.shift(2)  # 由于单纯的移位操作不会修改索引，所以部分数据会被丢弃。

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.332183
2000-04-30   -1.012833
Freq: M, dtype: float64

In [17]:
ts.shift(-2)  # 由于单纯的移位操作不会修改索引，所以部分数据会被丢弃。

2000-01-31    2.317390
2000-02-29    0.850547
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [18]:
# shift通常用于计算一个时间序列或多个时间序列（如DataFrame的列）中的百分比变化。可以这样表达：
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -4.049022
2000-03-31   -3.288027
2000-04-30   -0.632972
Freq: M, dtype: float64

In [19]:
ts.shift(2, freq='M')  # ，如果频率已知，则可以将其传给shift以便实现对时间戳进行位移而不是对数据进行简单位移

2000-03-31    0.332183
2000-04-30   -1.012833
2000-05-31    2.317390
2000-06-30    0.850547
Freq: M, dtype: float64

In [20]:
ts.shift(3, freq='D')

2000-02-03    0.332183
2000-03-03   -1.012833
2000-04-03    2.317390
2000-05-03    0.850547
dtype: float64

In [21]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.332183
2000-02-29 01:30:00   -1.012833
2000-03-31 01:30:00    2.317390
2000-04-30 01:30:00    0.850547
dtype: float64

In [22]:
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [23]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [24]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [25]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [26]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [27]:
ts = pd.Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -0.330239
2000-01-19    0.229139
2000-01-23    1.502904
2000-01-27   -0.020024
2000-01-31    0.682479
2000-02-04   -1.636584
2000-02-08   -0.690441
2000-02-12    0.600541
2000-02-16    1.506836
2000-02-20    0.137053
2000-02-24    0.669488
2000-02-28    1.087234
2000-03-03    1.521997
2000-03-07    1.097640
2000-03-11    1.702368
2000-03-15   -0.353774
2000-03-19   -0.144699
2000-03-23   -0.391026
2000-03-27   -1.060616
2000-03-31   -0.661416
Freq: 4D, dtype: float64

In [28]:
ts.groupby(offset.rollforward).mean()  # 日期偏移与groupby一起使用

2000-01-31    0.412852
2000-02-29    0.239161
2000-03-31    0.213809
dtype: float64

In [29]:
ts.resample('M').mean()

2000-01-31    0.412852
2000-02-29    0.239161
2000-03-31    0.213809
Freq: M, dtype: float64