In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# NumPy的ufuncs（元素级数组方法）也可用于操作pandas对象
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
np.abs(frame)

               b         d         e
Utah    0.264950  1.163547  0.081930
Ohio    0.120259  1.164345  1.869473
Texas   0.044079  0.207756  0.084698
Oregon  0.628736  1.517237  1.161196

In [3]:
f = lambda x: x.max() - x.min()
frame.apply(f)  # pandas的apply()方法可以将一个操作应用到DataFrame的每一列（默认）或每一行上

b    0.893686
d    1.724992
e    3.030669
dtype: float64

In [4]:
frame.apply(f, axis='columns')  # 将操作应用到DataFrame的每一行上

Utah      1.428497
Ohio      1.989732
Texas     0.292453
Oregon    2.678433
dtype: float64

In [5]:
# 传递给apply()的函数并不要求返回标量值，也可以返回Series
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

frame.apply(f)

            b         d         e
min -0.628736 -1.517237 -1.869473
max  0.264950  0.207756  1.161196

In [6]:
# 使用applymap()可以应用逐元素操作的函数
format = lambda x: '%.2f' % x
frame.applymap(format)

            b      d      e
Utah     0.26  -1.16   0.08
Ohio     0.12  -1.16  -1.87
Texas   -0.04   0.21  -0.08
Oregon  -0.63  -1.52   1.16

In [7]:
# Series有map方法，也可以应用逐元素操作的函数
format = lambda x: '%.2f' % x
frame['e'].map(format)

Utah       0.08
Ohio      -1.87
Texas     -0.08
Oregon     1.16
Name: e, dtype: object