In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# DataFrame是一个表格型的数据结构，它含有一组有序的列，每列可以是不同的值类型（数值、字符串、布尔值等）
# DataFrame既有行索引也有列索引，它可以被看做由Series组成的字典（共用同一个索引）
# DataFrame中的数据是以一个或多个二维块存放的（而不是列表、字典或别的一维数据结构）
# 虽然DataFrame是以二维结构保存数据的，但你仍然可以使用分层索引轻松地将其表示为更高维度的数据
# 层次化索引的表格型结构，这是pandas中许多高级数据处理功能的关键要素

In [2]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [3]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9