In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# reindex是pandas对象的一个重要方法，其作用是创建一个符合新索引的对象
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])  # 新的索引对应的值为NaN，默认改的是行的索引
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [3]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)  # 给缺失值一个填充值
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64

In [4]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
"""
0      blue
2    purple
4    yellow
dtype: object
"""
obj3.reindex(range(6), method='ffill')  # 新的索引也可以指定值，ffill取“前向值”

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [5]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
"""
0      blue
2    purple
4    yellow
dtype: object
"""
obj3.reindex(range(6), method='bfill')  # 新的索引也可以指定值，bfill取“后向值”

0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

In [6]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
frame2 = frame.reindex(['a', 'b', 'c', 'd'])  # reindex默认更改的是行的索引
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [7]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
states = ['Texas', 'Utah', 'California']
frame2 = frame.reindex(columns=states)  # 更改列的索引
frame2

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [8]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
states = ['Texas', 'Utah', 'California']  
# frame.loc[['a', 'b', 'c', 'd'], states]  # 执行报错

In [9]:
# reindex函数的参数
# 参数         说明
# index      用作索引的新序列。既可以是Index实例，也可以是其他序列型的Python数据结构。Index会被完全使用，就像没有任何复制一样
# method     插值（填充）方式，'ffill'为前向填充，'bfill'为后向填充
# fill-value 在重新索引的过程中，需要引入缺失值时使用的替代值
# limit      前向或后向填充时的最大填充量
# tolerance  向前后向后填充时，填充不准确匹配项的最大间距（绝对值距离）
# level      在Multilndex的指定级别上匹配简单索引，否则选取其子集
# copy       默认为True,无论如何都复制；如果为False,则新旧相等就不复制