In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# NumPy的ufuncs（元素级数组方法）也可用于操作pandas对象
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
np.abs(frame)

               b         d         e
Utah    0.148752  0.957155  0.098143
Ohio    0.565977  0.132258  0.624657
Texas   0.700762  0.306952  0.543475
Oregon  1.061889  0.178621  0.391791

In [3]:
f = lambda x: x.max() - x.min()
frame.apply(f)  # pandas的apply()方法可以将一个操作应用到DataFrame的每一列（默认）或每一行上

b    1.762651
d    1.264107
e    1.168132
dtype: float64

In [4]:
frame.apply(f, axis='columns')  # 将操作应用到DataFrame的每一行上

Utah      1.055298
Ohio      0.492399
Texas     0.393810
Oregon    0.883268
dtype: float64

In [5]:
# 传递给apply()的函数并不要求返回标量值，也可以返回Series
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

frame.apply(f)

            b         d         e
min -1.061889 -0.957155 -0.624657
max  0.700762  0.306952  0.543475

In [6]:
# 使用applymap()可以应用逐元素操作的函数
format = lambda x: '%.2f' % x
frame.applymap(format)

            b      d      e
Utah    -0.15  -0.96   0.10
Ohio    -0.57  -0.13  -0.62
Texas    0.70   0.31   0.54
Oregon  -1.06  -0.18  -0.39