In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [3]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [4]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [5]:
df.sum(axis='columns', skipna=False)  # 默认会忽略缺失值

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [6]:
# 约简方法的选项
# 选项      说明
# axis    约简的轴。DataFrame的行用0，列用1
# skipna  排除缺失值，默认值为True
# level   如果轴是层次化索引的(即MultiIndex)，则根据level分组约简

In [7]:
# 描述和汇总统计
# 方法              说明
# count           非NA值的数量
# describe        针对Series或各DataFrame列计算汇总统计
# min、max        计算最小值和最大值
# argmin、argmax  计算能够获取到最小值和最大值的索引位置（整数）
# idxmin、idxmax  计算能够获取到最小值和最大值的索引值
# quantile        计算样本的分位数（0到1）
# sum             值的总和
# mean            值的平均数
# median          值的算术中位数（50%分位数）
# mad             根据平均值计算平均绝对离差
# var             样本值的方差
# std             样本值的标准差
# skew            样本值的偏度（三阶矩）
# kurt            样本值的峰度（四阶矩）
# cumsum          样本值的累计和
# cummin、cummax  样本值的累计最大值和累计最小值
# cumprod         样本值的累计积
# diff            计算一阶差分（对时间序列很有用）
# pct change      计算百分数变化