In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj.index.is_unique

False

In [3]:
obj['c']  # 索引唯一，返回的是标量值

4

In [4]:
obj['a']  # 索引不唯一，返回的是一个序列

a    0
a    1
dtype: int64

In [5]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df.index.is_unique

False

In [6]:
df.loc['b']

          0         1         2
b  1.427593 -0.221716  0.305678
b -1.134963  0.684197 -0.221085