In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
sampler = np.random.permutation(5)  # 产生一个随机排序的数组
sampler

array([0, 3, 2, 1, 4])

In [3]:
df = pd.DataFrame(np.arange(5*4).reshape(5, 4))
df.take(sampler)  # 按照sampler取行，相当于DataFrame行随机排序

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
2   8   9  10  11
1   4   5   6   7
4  16  17  18  19

In [4]:
df.sample(5)  # 如果仅仅是想随机取行(不重复取行)，可以直接使用Series与DataFrame的sample()方法

    0   1   2   3
0   0   1   2   3
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
1   4   5   6   7

In [5]:
choices = pd.Series([5, 7, -1, 6, 4])
choices.sample(n=10, replace=True)  # 使用replace=True可以获取有重复值的随机值

2   -1
4    4
3    6
1    7
2   -1
1    7
3    6
2   -1
0    5
4    4
dtype: int64