In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# 将数据序列化到磁盘
df = pd.read_csv('data/ex1.csv')
df.to_pickle('data/df_pickle')

In [3]:
# 将二进制数据反序列化
pd.read_pickle('data/df_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
# 使用pickle进行序列化，推荐短期使用，因为随着版本迭代，可能会出现数据无法反序列化的情况。