In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# 排序
obj = pd.Series(range(4), index={'d', 'a', 'b', 'c'})
obj.sort_index()  # 按照索引排序，返回新的对象

a    3
b    1
c    2
d    0
dtype: int64

In [3]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
frame.sort_index()  # 按照索引排序

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [4]:
frame.sort_index(axis=1)  # 按照列排序

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [5]:
frame.sort_index(axis=1, ascending=False)  # 按照列降序排序

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [6]:
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()  # 按照值排序

2   -3
3    2
0    4
1    7
dtype: int64

In [7]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()  # 默认情况下，所有的缺失值排序在尾部

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [8]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame.sort_values(by=['a', 'b'])  # DataFrame按照多列排序

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [9]:
# 排名
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()  # 并列的元素默认使用平均排名，所以第0个和第2个元素排名都是6.5

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [10]:
obj.rank(method='first')  # 并列的元素按照出现的先后顺序排名

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [11]:
obj.rank(method='min')
# obj.rank(ascending=False, method='min')  # 降序排名

0    6.0
1    1.0
2    6.0
3    4.0
4    3.0
5    2.0
6    4.0
dtype: float64

In [12]:
obj.rank(method='max')

0    7.0
1    1.0
2    7.0
3    5.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [13]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]})
frame.rank(axis='columns')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [14]:
# 排名中并列关系打破方法
# 方法       说明
# average  默认：在相等分组中，为各个值分配平均排名
# min      使用整个分组的最小排名
# max      使用整个分组的最大排名
# first    按值在原始数据中的出现顺序分配排名
# dense    类似于method-'min'方法，但是排名总是在组间增加1，而不是组中相同的元素数