In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 分层索引

In [2]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data  # 具有两层索引的Series

a  1    0.741365
   2    3.219230
   3   -1.283010
b  1    0.178687
   3   -2.270644
c  1    0.107850
   2   -0.128194
d  2   -0.129984
   3    0.317510
dtype: float64

In [3]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [4]:
data['b']        # 使用“外层”索引

1    0.178687
3   -2.270644
dtype: float64

In [5]:
data['b':'d']    # 使用“外层”索引

b  1    0.178687
   3   -2.270644
c  1    0.107850
   2   -0.128194
d  2   -0.129984
   3    0.317510
dtype: float64

In [6]:
data[['b','d']]  # 使用“外层”索引

b  1    0.178687
   3   -2.270644
d  2   -0.129984
   3    0.317510
dtype: float64

In [7]:
data.loc[:, 2]   # 使用“内层”索引

a    3.219230
c   -0.128194
d   -0.129984
dtype: float64

### 层次化索引在数据重塑和基于分组的操作（如透视表生成）中扮演着重要的角色

In [8]:
data.unstack()

          1         2         3
a  0.741365  3.219230 -1.283010
b  0.178687       NaN -2.270644
c  0.107850 -0.128194       NaN
d       NaN -0.129984  0.317510

In [9]:
data.unstack().stack()

a  1    0.741365
   2    3.219230
   3   -1.283010
b  1    0.178687
   3   -2.270644
c  1    0.107850
   2   -0.128194
d  2   -0.129984
   3    0.317510
dtype: float64

In [10]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame  # DataFrame的每一个轴上都可以拥有分层索引

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [11]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame  # DataFrame的每一个层级的索引都可以有一个名称

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [12]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [13]:
# 可以单独创建MultiIndex对象然后复用
pd.MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']], names=['state', 'color'])

MultiIndex([(    'Ohio', 'Green'),
            (    'Ohio',   'Red'),
            ('Colorado', 'Green')],
           names=['state', 'color'])