In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# 分块读取文本文件
pd.options.display.max_rows = 10  # 调整pandas的显示设置，使其显示的更为紧凑
df = pd.read_csv('data/ex6.csv', nrows=5)  # 避免读取整个文档，只读取前5行
df

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [3]:
# 每次读取1000行数据，然后遍历
chunker = pd.read_csv('data/ex6.csv', chunksize=1000)  # 每一块读取1000行
chunker
# <pandas.io.parsers.TextFileReader at 0x7f6a45c5b400>

tot = pd.Series([], dtype='float64')
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [4]:
# 将数据写入文本文件
data = pd.read_csv('data/ex5.csv')
data.to_csv('data/out.csv')

In [5]:
import sys
data.to_csv(sys.stdout, sep='|')  # 指定其他分隔符

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [6]:
data.to_csv(sys.stdout, na_rep='NULL')  # 指定缺失值，默认情况下缺失值导出为空字符串

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [7]:
data.to_csv(sys.stdout, index=False, header=False)  # 禁止导出行和列的标签

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [8]:
data.to_csv(sys.stdout, index=False, columns=['c', 'b', 'a'])  # 指定导出的列与列的顺序

c,b,a
3.0,2,1
,6,5
11.0,10,9

In [9]:
# Series也有导出csv的方法
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv(sys.stdout)

,0
2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6