In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# pip install xlrd openpyxl
# pandas的ExcelFile类或pandas.read_excel函数支持读取存储在Excel 2003（或更高版本）中的表格型数据。
# 这两个工具分别使用扩展包xlrd和openpyxl读取XLS和XLSX文件。

In [2]:
# 使用ExcelFile，如果读取的是含有多个Sheet的文件，使用ExcelFile更快
xlsx = pd.ExcelFile('data/ex1.xlsx')
df = pd.read_excel(xlsx, 'Sheet1')
df

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [3]:
frame = pd.read_excel('data/ex1.xlsx', 'Sheet1')  # 如果只读取Excel中的一个sheet，可以直接这样使用
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [4]:
# 将数据写入excel
writer = pd.ExcelWriter('data/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [5]:
# 也可以这样直接写入excel，不适用ExcelWriter对象
frame.to_excel('data/ex2.xlsx')

In [6]:
import os
os.remove('data/ex2.xlsx')