In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 背景和目标

In [2]:
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)
display(values)
display(pd.unique(values))
display(pd.value_counts(values))

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

array(['apple', 'orange'], dtype=object)

apple     6
orange    2
dtype: int64

In [3]:
# 更有效的存储方式
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])
display(values)
display(dim)

dim.take(values)  # 使用take实现类似于字典翻译的效果

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

0     apple
1    orange
dtype: object

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

### pandas中的Categorical类型

In [8]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': np.random.randint(3, 15, size=N),
                   'weight': np.random.uniform(0, 4, size=N)},
                   columns=['basket_id', 'fruit', 'count', 'weight'])
display(df)

fruit_cat = df['fruit'].astype('category')  # fruit_cat是pandas.Categorical类型
fruit_cat

   basket_id   fruit  count    weight
0          0   apple     14  1.552161
1          1  orange     10  2.387008
2          2   apple     11  1.061676
3          3   apple     14  3.581818
4          4   apple      7  2.237820
5          5  orange      3  1.599818
6          6   apple      4  2.233812
7          7   apple      4  1.422126

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [14]:
c = fruit_cat.values

display(type(c))
display(c.categories)
display(c.codes)

pandas.core.arrays.categorical.Categorical

Index(['apple', 'orange'], dtype='object')

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [15]:
df['fruit'] = df['fruit'].astype('category')
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']