In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.518088 -1.034777
1    a  two -0.313557  0.203608
2    b  one  1.710778 -0.186484
3    b  two -1.416657 -0.949233
4    a  one -0.085516  0.613788

In [3]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object